src/Sistran.GestaoProduto/Service References/TokenServiceReference/TokenService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TokenService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:63217/Token/TokenService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:63217/Token/TokenService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:63217/Token/TokenService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Sistran.ControleAcessosService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITokenService_GenerateToken_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerateToken" />
  </wsdl:message>
  <wsdl:message name="ITokenService_GenerateToken_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerateTokenResponse" />
  </wsdl:message>
  <wsdl:message name="ITokenService_ValidateToken_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateToken" />
  </wsdl:message>
  <wsdl:message name="ITokenService_ValidateToken_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateTokenResponse" />
  </wsdl:message>
  <wsdl:portType name="ITokenService">
    <wsdl:operation name="GenerateToken">
      <wsdl:input wsaw:Action="http://tempuri.org/ITokenService/GenerateToken" message="tns:ITokenService_GenerateToken_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITokenService/GenerateTokenResponse" message="tns:ITokenService_GenerateToken_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateToken">
      <wsdl:input wsaw:Action="http://tempuri.org/ITokenService/ValidateToken" message="tns:ITokenService_ValidateToken_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITokenService/ValidateTokenResponse" message="tns:ITokenService_ValidateToken_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITokenService" type="tns:ITokenService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GenerateToken">
      <soap:operation soapAction="http://tempuri.org/ITokenService/GenerateToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateToken">
      <soap:operation soapAction="http://tempuri.org/ITokenService/ValidateToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TokenService">
    <wsdl:port name="BasicHttpBinding_ITokenService" binding="tns:BasicHttpBinding_ITokenService">
      <soap:address location="http://localhost:63217/Token/TokenService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>